
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
    TradeKerala2017.Models.DbTradekeralaEntities1 db = new TradeKerala2017.Models.DbTradekeralaEntities1();

    String Message = "";
    try
    {
        if (!String.IsNullOrEmpty(Request.QueryString["Msg"].ToString()))
        {
            Message = Request.QueryString["Msg"].ToString();
        }
    }
    catch
    {
    }
}


<link href="~/css/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<link href="~/css/jquery.filer.css" rel="stylesheet" />

<script src="../../js/jquery.min.js" type="text/javascript"></script>
<script src="~/js/jquery.filer.js"></script>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>
                        <input id="Hidmsg" type="hidden" value="@Message" /> @Message
                    </strong>
                </div>

                @using (Html.BeginForm("changepassword", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @Class = "form-horizontal form-label-left", @novalidate = "true" }))
                {

                    <span class="section">Enter Your Credentials</span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Current UserName <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="log_email" placeholder="Enter Your UserName" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Current Password <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="Password" placeholder="Enter Your Current Password" required="required" type="password">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            New Password <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="New_password" placeholder="Enter Your New Password" required="required" type="password">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Retype New Password <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="Re_newpassword" placeholder="Retype Your Old Password" required="required" type="password">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Submit</button><br />
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </div>
</div>

<script>
       $(function () {


           $(".alert").hide();
           var msg = $("#Hidmsg").val();
           if (msg != "") {
               $(".alert").fadeIn(2000);
           }
           else {
               $(".alert").fadeOut(500);
           }




           $(".select2_single").select2({
               placeholder: "Select a state",
               allowClear: true
           });

           $(".select2_single").change(function () {
               debugger;
               var Name = $(".select2_single option:selected").text();

               $("#HiddenCatName").val(Name);

           });


           $('#hover, #striped, #condensed').click(function () {
               var classes = 'table';

               if ($('#hover').prop('checked')) {
                   classes += ' table-hover';
               }
               if ($('#condensed').prop('checked')) {
                   classes += ' table-condensed';
               }
               $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
           });
       });

       function rowStyle(row, index) {
           var classes = ['active', 'success', 'info', 'warning', 'danger'];

           if (index % 2 === 0 && index / 2 < classes.length) {
               return {
                   classes: classes[index / 2]
               };
           }
           return {};
       }
</script>
<!-- /page content -->
