
    .dotdBadge {
    font-size: 11px!important;
    color: #FFF!important;
    font-weight: 500!important;
    background: #C45500;
    height: 18px;
    max-width: 99%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 5px;
    float: left;
    overflow: hidden;
    margin-bottom:10px;
}
    .badgeSkew {
        border-right: 4px solid transparent;
        border-top: 18px solid #C45500;
        float: left;
    }
    .a-row:before, a-row:after {
        display: table;
        content: "";
        line-height: 0;
        font-size: 0;
    }
   .bttns {
       border-radius:5px; padding:9px 20px; border:1px solid #FFF; min-width:180px;background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
 color:black; text-align: center; text-decoration: none;

   }
