
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Newlayout.cshtml";
}
<style>
    @@media screen and (max-width: 768px) {
        .topmarg {
            margin-bottom:20px !important;
        }
        h3,h2{
            font-size:20px;
        }
    }
</style>
<link href="~/css/style.css" rel="stylesheet" />
<div class="about" >
    <div class="container">
        <div class="w3ls_about_grids">
            <div class="col-md-6 w3ls_about_grid_left">
                <h3 class="head_underscore">Hornbill Ventures</h3>
                <p style="text-align:justify;">

                    Hornbill Ventures Pvt.Ltd is lead by a visionary leader and group of dynamic directors. The
                    promoters of the company have decades of business experience to bring up the venture to the
                    global standards. To meet the industry challenges and to achieve the desired goals the company
                    has a strong and well experienced supportive team of professionals.
                    Hornbill Ventures Pvt.Ltd is mainly focusing on e- commerce, the business of tomorrow. After
                    years of research and thorough global surveys the venture has finally designed a platform that
                    meets the needs of Global Malayalees.
                </p>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">

                <img src="~/images/b1.jpg" alt="" class="img-responsive" />
            </div>
            <div class="col-md-12 w3ls_about_grid_left">
                <h3 class="head_underscore">
                    Traderkerala.com
                </h3>
                <p style="text-align:justify;">
                    Traderkerala.com is a hi-tech e commerce platform designed and developed by Hornbill
                    Ventures Pvt. Ltd. It is designed to support the Diaspora of world Malayalees. Traderkerala.com
                    will help the Global Malayalees the habit of living with their traditional values and culture. It’s
                    not just another e shopping site rather going to be a cultural hub of Kerala. Our e commerce
                    platform mainly focuses on Malayalee Communities and South Indian diaspora across the Globe.
                    We do deal with the products used by Keralites in their day today life. The South Indian
                    communities have their own cultural habits .They have their traditional systems in their way of
                    living. Many inevitable products are not available in their Global destinations. Traderkerala.com
                    will act as a bridge to reach them with their necessary traditional products. There are more than
                    12 segments. Ethnic, Musical Instruments, Kerala spices, Ayruveda, Traditional clothes, Food
                    and Beverages, Beauty and Personal care, Organic product, Jewels, Books, Traditional Cooking
                    Products, Leather products. All these categories and its sub categories of products will comprise
                    more than 52000 various products. The product range will certainly fulfill the complete home
                    needs of a Global Malayalee.
                </p>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-12 w3ls_about_grid_left">
                <h3 class="head_underscore"style="padding-left:35px">
                    Our vision      
                </h3>
                <p style="text-align:justify;">
                    Professional team possesses the expertise and clear-cut understanding to evaluate and assess
                    client requirements in any strategic area. According to our clients &amp; customer objectives, we
                    provide excellent customer service&amp; feedback throughout the entire supply chain cycle.
                    Our vision is to provide our clients with quality products and customer services to include
                    abiding by our word to follow through on our promises and commitment. We believe that
                    exceeding our clients and customers expectation at every given opportunity is the only path to
                    our mutual success and long lasting business relation.
                </p>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-12 w3ls_about_grid_left">
                <h3 class="head_underscore" style="padding-left:55px">
                    Mission
                </h3>
                <p style="text-align:justify;">
                    Traderkerala.com is committed to consistent pursuit of excellence dedicated to continually
                    improving our business to provide our customers with products &amp; services that fully satisfy the
                    customer’s requirements. This commitment ensures high standards in quality and reliability of
                    our products &amp; services, with strict adherence to client requirements and policies and resourceful
                    work force in being the most trusted service provider.
                </p>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-12 w3ls_about_grid_left">
                <h3 class="head_underscore">
                    Quality Assurance and CSD
                </h3>
                <p style="text-align:justify;">
                    Since most of our products are natural and fresh, the processing, sorting &amp; classification are very
                    important. Traderkerala.com has a dedicated team of quality controllers who ensure that only
                    high quality products are being sorted processed and packed. Each product is dispatched only
                    after certification by QCD. Each product can be tracked so that in case of customer
                    dissatisfaction, the particular batch can be identified and reasons can be verified. If any vendor
                    does not meet the required quality parameters, his agreement will be terminated. These strict
                    measures will ensure that quality of the products will meet the expectations of the customer. The
                    reputation an ecommerce business is based wholly on the satisfaction of its customers. The
                    factors which influence customer satisfaction are,
                </p>
                <p>
                    <i class="fa fa-circle" style="font-size:12px"></i> Pricing<br />
                    <i class="fa fa-circle" style="font-size:12px"></i> Product Quality &amp; Quantity<br />
                    <i class="fa fa-circle" style="font-size:12px"></i> Delivery Time
                    </p>
                <p style="text-align:justify;">
                    Traderkerala.com has dedicated itself to ensure competitive pricing, consistent product quality &amp;
                    quality as well as timely delivery.
                    The CSD aims to provide prompt response to customer queries, after sales services, replacement
                    of product in genuine case etc… to ensure a satisfied customer base. An experienced team of
                    professionals will make sure that the taste of all customers will be met.
                </p>
                <div class="clearfix"> </div>
            </div>
            
            <div class="clearfix"> </div>
        </div>

            <div class="clearfix"> </div>
        </div>
    </div>

<!-- //about -->
<!-- team -->
<div class="team"  style="background-color:white;padding-top:0PX">
    <div class="container">
        <h2 class="head_underscore">Meet Our Products</h2>
        <div class="wthree_team_grids">
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/Spices.jpg" alt="spices" style="width:255px;height:160px;" class="img-responsive" />
                <h4>Spices <span></span></h4>
            </div>
          
           
           
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/kathakali.png" alt=" " style="width:255px;height:160px;" class="img-responsive" />
                <h4>Ethenic products <span></span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid">
                
                <img src="~/images/hgl-banana-chips.jpg" alt=" " style="width:255px;height:160px;" class="img-responsive" />
                <h4>Ethenic Foods <span></span></h4>       
                 </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/drankjes1.png" alt=" " style="width:255px;height:160px;" class="img-responsive" />
                <h4>Seeds<span></span></h4>

            </div>
            <br />
           
            <div class="col-md-3 wthree_team_grid" style="padding-top: 50px;">
                <img src="~/images/Cashew-nuts.jpg" alt=" " style="width:255px;height:160px;" class="img-responsive"/>
                <h4>Kerala Nuts <span></span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid" style="padding-top: 50px;">
                <img src="~/images/pudava.jpg" alt=" " style="width:255px;height:160px;" class="img-responsive"/>
                <h4>Vastra<span></span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid" style="padding-top: 50px;">
                <img src="~/images/kkkkkkk.jpg" alt=" " style="width:255px;height:160px;" class="img-responsive" />
                <h4>Vadhya<span></span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid" style="padding-top: 50px;">
                <img src="~/images/mural-painting.jpg" alt=" " style="width:255px;height:160px;" class="img-responsive" />
                <h4>Kerala Arts<span></span></h4>
            </div>
            <div class="clearfix"> </div>
            
        </div>
    </div>
</div>
