
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trader Kerala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fantasy Coming Soon Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- CSS -->
    <link href="~/coming/css/font-awesome.css" rel="stylesheet"><!-- Font-awesome-CSS -->
<!-- style.css -->
    <link href="~/coming/css/style.css" rel="stylesheet" />
    <!-- //CSS -->
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <!-- Fonts -->
</head>
<body>
    <div class="main-w3layouts">
        <h1>Traderkerala.com</h1>

        <video style="float:right;margin:5%; border:5px solid white; width:20%; height:20%;" autoplay loop>
            <source src="~/coming/WhatsApp%20Video%202018-01-01%20at%2011.06.07%20AM.mp4" type="video/mp4" />
        </video>
        <div class="w3layouts-newsletter" style="width:70%;">
          
            <h2 style="margin-left:100px;" >Launching Our Website Very soon</h2>
            <p >We are currently working on our website We will be here soon to give you the best experience with this one.</p>
        </div>
        
        <div class="footer-w3l">
            <p class="agileinfo"> &copy; 2017 Traderkerala.com Coming Soon. All Rights Reserved | Design by <a href="http://www.fabstudioz.com/">Fab studioz</a></p>
        </div>
    </div>

    <!-- Js-Files -->
    <script src="~/coming/js/particles.js"></script>
    <script src="~/coming/js/app.js"></script>
    <!-- //Js-Files -->

</body>
</html>