
@{
    ViewBag.Title = "CustomerServices";
    Layout = "~/Views/Shared/_Newlayout.cshtml";
}


<style>
.row-1 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-3 .ser-col-4{border-right:solid 1px #ccc;}


@@media (max-width:768px){
    /*.ser-col-4{border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;}*/
}

.ser-col{width:100%;height:auto;text-align: center;padding:20px;position: relative;}
.icon-col{width:80px;height:80px;border-radius: 50%;text-align: center;margin-left: auto;margin-right: auto;}
.icon-col i{font-size: 35px;padding: 20px;}
.circle {
    position: absolute;
    bottom: -11px;
    right: -24px;
    z-index: 99;
}
.circle i{color:#ccc;font-size: 18px;background-color:ghostwhite;}
.btn1 {
    display: inline-block;
    padding: 3px 6px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    color: red;
    background-image: none;
    border: 1px solid red;
    border-radius: 0px;
}
.ser-col h2{color:#777;
   }

.ser-col p{color:#3e3b3b;}

/*====== service 1 ====*/
.ser-1 .icon-col{border: solid 1px red;}
.ser-1 .icon-col i{color:red;}
.ser-1 .btn1{color:red;border: 1px solid red;}

/*====== service 2 ====*/
.ser-2 .icon-col {border: solid 1px green;}
.ser-2 .icon-col i{color:green;}
.ser-2 .btn1{color:green;border: 1px solid green;}
/*====== service 4 ====*/
.ser-4 .icon-col {border: solid 1px #1199DB;}
.ser-4 .icon-col i{color:#1199DB;}
.ser-4 .btn1{color:#1199DB;border: 1px solid #1199DB;}
/*====== service 9 ====*/
.ser-9 .icon-col {border: solid 1px #d2691e;}
.ser-9 .icon-col i{color:#d2691e;}
.ser-9 .btn1{color:#d2691e;border: 1px solid #d2691e;}

.ser-3 .icon-col {border: solid 1px #000000;}
.ser-3 .icon-col i{color:#000000;}
.ser-3 .btn1{color:#000000;border: 1px solid #000000;}

.ser-5 .icon-col {border: solid 1px #9d04f9;}
.ser-5 .icon-col i{color:#9d04f9;}
.ser-5 .btn1{color:#9d04f9;border: 1px solid #9d04f9;}



.destacados{
	text-align: center;
    margin-top:2%;
}
.destacados > div > div{
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > a >div:hover > div{
	margin-top: -10px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sumit kumar">
    <title>Trial</title>
    <link href="css/bootstrap.css" rel="stylesheet"type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet"type="text/css">
    <link href="css/style.css" rel="stylesheet"type="text/css">
</head>
<body >
    <section id="service">
        <div class="container"style="padding-bottom:30px";>
            <div class="row row-1 destacados">
                <a href="~/Public/UserAccount">
                    <div class="col-md-6 col-sm-12 col-xs-12 ser-col-6">
                        <div class="ser-col ser-2">
                            <div class="icon-col">
                                <img src="~/NewLayout/images/customer-service.png" class="img-responsive" style="width:75%;margin-left:15px;margin-top:9%;" />
                            </div>
                            <h2 style="margin-bottom:0px">Account Settings</h2>
                            <p style="margin-bottom:0px">
                                For updating and editing user Information
                            </p>
                            <div class="btn1"> More Info</div>
                        </div>
                    </div>
                </a>
                <a href="~/Public/returnpolicy">
                    <div class="col-md-6 col-sm-12 col-xs-12 ser-col-6">
                        <div class="ser-col ser-1">
                            <div class="icon-col">
                                <img src="~/NewLayout/images/shopping-bag.png"  style="width:80%;margin-top:6px;" />
                            </div>
                            <h2 style="margin-bottom:0px">Cancellation & Returns</h2>
                            <p style="margin-bottom:0px">
                                For cancellation and Return of product,related Queries
                            </p>
                            <div class="btn1"> More Info</div>
                        </div>
                    </div>
                </a>
</div>
                <!--=====row 1============-->
                <!--====row 2============-->
                <div class="row row-2 destacados">
                        <a href="~/Public/PaymentandShipping">
                            <div class="col-md-6 col-sm-12 col-xs-12 ser-col-6">
                                <div class="ser-col ser-9">
                                    <div class="icon-col">
                                        <img src="~/NewLayout/images/delivery-truck (1).png" class="img-responsive" style="width:80%;margin-left:10px;" />
                                    </div>
                                    <h2 style="margin-bottom:0px">Payment  & Shipping</h2>
                                    <p style="margin-bottom:0px">
                                        For Payment & Shipping Related Enquries
                                    </p>
                                    <div class="btn1"> More Info</div>
                                </div>
                            </div>
                        </a>
                    <a href="~/Public/UserAddress">
                        <div class="col-md-6 col-sm-12 col-xs-12 ser-col-6">
                            <div class="ser-col ser-4">
                                <div class="icon-col">
                                    <img src="~/NewLayout/images/notebook.png" class="img-responsive" style="width:70%;margin-left:10px;margin-top:10px;" />
                                </div>
                                <h2 style="margin-bottom:0px">Manage Addresses</h2>
                                <p style="margin-bottom:0px">
                                    Update and Add Your Addresses
                                </p>
                                <div class="btn1"> More Info</div>
                            </div>
                        </div>
                    </a>
</div>
            <div class="row row-2 destacados">
                <a href="~/Public/Career">
                    <div class="col-md-6 col-sm-12 col-xs-12 ser-col-3">
                        <div class="ser-col ser-3">
                            <div class="icon-col">
                                <img src="~/NewLayout/images/0190c8e8-bf4e-11e4-8f6d-4ecab04761d4.png" class="img-responsive" style="width:85%;margin-left:10px; margin-top:5px;" />
                            </div>
                            <h2 style="margin-bottom:0px">Career  & Internship</h2>
                            <p style="margin-bottom:0px">
                                For Career  & Internship Related Enquries
                            </p>
                            <div class="btn1"> More Info</div>
                        </div>
                    </div>
                </a>
                <a href="~/Public/Prebooking">
                    <div class="col-md-6 col-sm-12 col-xs-12 ser-col-5">
                        <div class="ser-col ser-5">
                            <div class="icon-col">
                                <img src="~/NewLayout/images/online-shop.png" class="img-responsive" style="width:80%;margin-left:8px; margin-top:5px;" />
                            </div>
                            <h2 style="margin-bottom:0px">Pre Booking</h2>
                            <p style="margin-bottom:0px">
                                for pre Booking at TradeKerala.com
                            </p>
                            <div class="btn1"> More Info</div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </section>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>