@{
    Layout = null;}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Trader Kerala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <link href="~/NewLayout/css/style.css" rel="stylesheet" />
    <link href="~/NewLayout/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" href="~/NewLayout/css/bootstrap.min.css">
    <script src="~/NewLayout/js/jquery.min.js"></script>
    <script src="~/NewLayout/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/NewLayout/css/animate.min.css">


    <link href="~/NewLayout/css/instyle.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/NewLayout/css/main.css" />
    <style>
        @@media screen and (min-width: 500px) {
            .logi {
                width: 70%;
            }
        }

        @@media screen and (min-width: 700px) {
            .logi {
                width: 50%;
            }
        }

        @@media screen and (min-width: 1000px) {
            .logi {
                width: 40%;
            }
        }

        @@media screen and (min-width: 1200px) {
            .logi {
                width: 35%;
            }
        }

        @@media screen and (min-width: 1400px) {
            .logi {
                width: 30%;
            }
        }
    </style>


</head>
<body>
    <div class="container" align="center">

        <a href="~/Public/NewIndex"> <img src="~/NewLayout/images/Logo.png" alt="" class="img-responsive logi"> </a>
       
        <div class="log_box">
            <h2 class="">Password assistance</h2>
            <p>Enter the email address associated with your Trader kerala account.</p>
            <form action="ForgetPassword" method="post">
                <label>Email </label>
                <input type="email" value="" class="form-control review_box" placeholder="Email" name="log_Email" required="">
                <br />
                <label style="color:red;text-align:center">@ViewBag.Message</label>
                <button type="submit" class="form-control btn btn-warning">
                   continue
                </button>
            </form>
        </div>
        <hr />
        <a href="~/Public/Registration"> <button class="create_ac"> <i class="fa fa-user-plus" aria-hidden="true"></i> Create Account </button></a>

        <p> © 2017 Trader Kerala. All rights reserved | Design by - <a href="#">Fabstudioz</a></p>
    </div>
</body>
</html>

