
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>


</head>
<body>

    <p>Click the button to get your coordinates.</p>

    <button type="submit" onclick="getLocation()">Try It</button>

    <p id="demo"></p>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyADrPuBTslYXqWLZJKnAoO3aWd0eptMPvM"></script>
    <script>
var x = document.getElementById("demo");

function getLocation() {

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
  alert(position.coords.latitude)
  alert(position.coords.longitude);
}
    </script>

</body>
</html>