
@{
    ViewBag.Title = "PaymentandShipping";
    Layout = "~/Views/Shared/_Newlayout.cshtml";
}

<style>
    .privacy li {
        margin-top: 0.7em;
    }

    th, td {
        text-align: center;
    }

    h4 {
        margin-bottom: 10px !important;
    }
</style>

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 style="color:#ef5604;text-align:center">TraderKerala Shipping & Payment Policy</h2>
        <br>
        @*<p>Where all do we deliver:</p>
        <p>
            We deliver to all and any postal address around the world. However, Courier companies do not deliver to P.O.Box address, so we request you to provide full street address with pin code/zip code.
            <br />
            Please note that residential shipments to India,USA & some other countries will be left at door if someone is not there to receive the package or no one answers the door bell. Our courier agents will not be able to provide sign confirmation of delivery made in such cases. To ensure that no disputes arise due to this, kindly make sure that someone is there to receive the package when courier delivery is attempted.
            <br />No deliveries are made on Saturdays and Sundays in most countries with 5 day work culture. In many Islamic countries Fridays are normal off days.
        </p>
        <p> Further deliveries are generally made during normal working hours of courier companies and these vary from country to country.</p>


        <p>Please note that there are no shipments made from the store on Sundays and public holidays as our logistics partners, do not make any pick-ups on those days.</p>


        <h4><b> Shipping to India :</b></h4>


        <p>We take great pride in being able to offer WORLDWIDE SHIPPING to any address in India to our customers with family and friends back home. To ensure the quickest confirmed delivery on all orders to India, please be sure to include the COMPLETE postal address with the correct PIN CODE. We cannot be responsible for postal delays resulting from incomplete address listings</p>


        <h4><b> Transit times :</b></h4>

        <p>Once an order is registered, you cannot make any alterations. However, address alteration requests may be accommodated within 24 hours of placing the order. You may send your alteration request to support@traderkerala.com.</p>
        <p>
            International shipping and handling rates is based on the size of your order: the larger your order, the lower the rate.
            Courier partner List
            @*<br />
                1.
                <br />
                2.
                <br />
                3.
                <br />

                4.
        </p>


        <h4><b>Shipment and tracking details:</b></h4>
        <p>
            We will send you an email regarding the shipment of your order, as soon as the items are handed over to the Courier. These alert emails will contain the tracking number and courier companies website details along with expected date of delivery. you may also check the same on our order status page.
            <br />Tracking numbers for orders shipped might take 24 business hours to become active on the courier websites.
            <br /> What happens if my order is lost in transit?
            <br />   If a shipment is lost in transit, we wait for 15 days and then reprocess/reship the order.
            <br />  If you have any question about our shipping policies, please email us at support@traderkerala.com
        </p>





        <h4><b>Note:</b></h4>
        <p>
            •	Scheduled Delivery is free for Large Appliances. It is available as an optional paid option on select products in select cities.
            <br /><br />
            •	Guaranteed Delivery options, if available, will be displayed on the product detail page for eligible items.
            <br /><br />
            •	Guaranteed Delivery is available only in select cities. Click here to see the list of cities where guaranteed delivery option can be availed.
            <br /><br />
            •	Orders must be placed within the timeline mentioned on the product detail page to avail the option. The “order within” countdown timer provides the window of time in which you must place the order to receive your delivery by the date shown. That delivery date may become unavailable within that window of time due to changes in inventory or delivery capacity before you place your order. Your confirmed delivery date will be included in your order confirmation email


        </p>*@



        <h3>
            <b>
                Buyer Protection Policy
            </b>
        </h3>
        <p>
            We offer 100% Buyer Protection Policy to our customers. Our Brand of trust clearly defines our
            values, promising the best online shopping experience to our customers.<br /><br />
            <b>
                a. Genuine Products</b>
    <br /><br />
    Merchant guarantees to sell only genuine products to customers through traderkerala.com
    Manufacturer&#39;s or Seller&#39;s warranty (wherever applicable)
    New and Fresh products<br /><br />
            <b>
                b. Secure Payments</b>
    <br /><br />
    Customers&#39; Personal Data is kept Confidential<br />
    All Online Transactions are secured by Secured Socket System<br /><br />
            <b>
                c. Easy Returns, Replacements &amp; Refunds</b>
    <br /><br />
    Return/Replacement request for any Order should be submitted within 3-7 days (as per the
    category) of receiving the Product. (Refer our Return Policy)<br />
    Refund/Replacement will be initiated only upon receiving of the product<br />
    Replacement will depend upon the availability of the product<br />
    In case the product was damaged while in your possession, traderkerala will not be under any
    liability to process the refund/replacement<br />
    Damaged/ Missing/ Empty Packages need to be returned within 2 days of receiving the
    product<br /><br />
    Order Replacement can be done in following cases:<br />
    -Wrong Size/ Color/ Style/ Quantity<br />
    -Missing Parts/ Accessories<br />
    -Defective/ Damaged (if not under Manufacturer&#39;s Warranty*)<br />
    -Not as per description<br />
    Return Package should have the original Price tag and Packaging slip<br />
    Few products are Non-Returnable. Please refer to the product page for further reference<br />
    For Manufacturer’s Warranty Products, you are required to visit the Brand Service Centre.<br />
    For more queries, please refer to Return, Replacement &amp; Refund policies.<br />
</p>
        <h3>
            <b>
                Shipping Policy
            </b>
        </h3>
        <p>
            <b>
                a. Track your order</b>
    <br /><br />
    You can check the status of your order from your traderkerala &quot;MyAccount&quot; or from through
    this link *******************************************************************8
    ensure timely communication about your order status via Email / SMS under the following
    conditions:<br />
    When your order is confirmed / processed / shipped / delivered<br />
    When your order shipment is delayed<br /><br />
            <b>
                b. Delivery of the product</b>
    <br /><br />
    It usually takes between 5 to 7 days to deliver the order after it has been dispatched. This
    varies depending upon your and merchant&#39;s location.
    We will notify you on your registered contact details via Email / SMS with the tracking
    number and courier/delivery partner details, once the order has been dispatched.
    In case a merchant is unable to fulfill the order on time, we will transfer the order to
    another merchant. If the order still can’t be fulfilled, the same will be cancelled and your
    refund will be processed. The refund would be credited to your account within 2 weeks after
    the order is cancelled.<br /><br />
            <b>
                c. Shipping Charges</b>
    <br /><br />
    The shipping cost, if applicable, is mentioned on the product page. The amount that you pay
    while placing the order at traderkerala.com would include the product and courier charges.
    For all orders, the amount to be paid is mentioned on the package. It is the same price that
    is displayed while placing the order. However, we may offer free delivery cost in some cases
    will be noticed in the site from time to time.<br /><br />
            <b>
                d. Order is out of delivery. But has not reached?</b>
    <br /><br />
    If the status is marked as “OUT FOR DELIVERY”, and is not delivered to you in next 24 hours,
    kindly check with the courier company or contact us at www.traderkerala.com/customer
    service department. We will follow up with the courier partner until your order is delivered.<br /><br />

            <b>
                e. Product is delivered at wrong address</b>
    <br /><br />
    In case, you discover that the Courier Company has delivered your package to the wrong
    address, you should immediately contact us at www.traderkerla.com/CSD. We will follow up
    with the courier partner and notify you at the earliest possible.<br /><br />
            <b>
                f. Product not delivered within the expected delivery date</b>
    <br /><br />
    There could be a delay depending upon your shipping address, merchant&#39;s location, courier
    services and unfavorable climatic conditions. You can track your shipment from the courier
    company’s website, using the tracking number sent to you on your registered Email/Contact
    number. If there&#39;s no update in shipment, please wait for 48 hours. Else, get in touch with
    our customer support team using the below link:
    ***********************************8<br /><br />
            <b>
                g. Order received partially</b>
    <br /><br />
    Since your products may be shipped from different merchants, orders with multiple
    products and different delivery timelines will be delivered to you separately.
            <br /><br />  <b>
                h. Delivery time for the same product vary from seller to seller</b>
    <br /><br />
    The number of days could vary depending upon your shipping address and seller’s location.
            <br /><br />   <b>
                i. Delivery time different for different products</b>
    <br /><br />
    The delivery time varies depending upon the Shipping Address, Merchant’s Location and size
    of consignment.<br /><br />
            <b>
                j. Tracking of Shipment</b>
    <br /><br />
    Courier companies update the tracking number on their website after the shipment is
    handed over to them. Sometimes it takes up to 48 hours for the tracking number to get
    updated. However, the shipment is on its way to its destination. If you have recently
    received the shipment details, we would recommend you to wait and try tracking on the
    website after some time. If the tracking number is still not updated, please get in touch with
    us at www.traderkerala.com/CSD<br /><br />
            <b>
                k. Change in shipping address</b>
    <br /><br />
    You may request for change of address as long as the order is not packed and ready for
    shipment. You can track the status of your order from traderkerala &#39;My Account&#39; section or
    from ****************************************************

    If the order is not yet ready for dispatch, you can change your shipping address from &#39;My
    Account&#39; section or contact us at
    ****************************************************
    If your current order has already been shipped, you can still update the address in your
    traderkerala Address Book for future orders. To edit an existing address that is saved in your
    traderkerala Account, kindly visit the &#39;Address Book&#39; page and click on &#39;Edit&#39;. After you have
    made the required changes in the Address, click on &#39;Save&#39;.<br /><br />
            <b>
                l. International delivery</b>
    <br /><br />
    Yes, traderkerala delivers products to international locations. (Conditions apply)
            <br /><br />  <b>
                m. Unreliable message from courier company</b>
    <br /><br />
    We use services of some of the industry&#39;s best courier/delivery companies for delivering
    your orders. However, if you suspect that the courier company&#39;s message is not reliable,
    please drop us a message at www.traderkerala.com/CSD. Under such incidents, we abide by
    no-compromise policies with the courier companies.<br /><br />
            <b>
                n. Return To Origin</b>
    <br /><br />
    Return To Origin&#39; or RTO means that the courier company tried to deliver the order at your
    address but could not deliver the same due to any of the following reasons:
    You were not available to receive the order. <br />
    Your location was out of delivery area of the courier.<br />
    Your address was not traceable.<br />
    Hence, it is shipped back to the sender.<br /><br />
            <b>
                o. Consequence of RTO received</b>
    <br /><br />
    We will refund the amount to your bank account.<br />
</p>


        <br />
        <br />
        <br />
    </div>
</div>

