
@{
    ViewBag.Title = "returnpolicy";
    Layout = "~/Views/Shared/_Newlayout.cshtml";
}
<style>
    .privacy li {
        margin-top: 0.7em;
    }

    th, td {
        text-align: center;
    }

    h4 {
        margin-bottom: 10px !important;
    }

    @@media screen and (max-width:768px ) {

        #HeadOne {
            font-size: 20px;
        }

        #para p {
            font-size: 12px;
        }

        #para h4 {
            font-size: 14px;
        }

        #para th, td, tr {
            font-size: 12px;
        }
    }
</style>

@*<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="para">
            <h2 style="color:#ef5604;text-align:center" id="HeadOne">TraderKerala Return and Refund Policy</h2>

            <p>Welcome to www.traderkerala.com is owned and managed by HORNBILL VENTURES  PRIVATE LIMITED (herein after referred to as “Traderkerala”).</p>
            <h4><B>Return Policy</B></h4>
            <p>At  “Traderkerala”,  our aim is to provide 100% satisfaction to our customers. If for any reason you are not satisfied with the product, we are here to help.
            <br />
            <br />
                    Following are the details of the return policy that is applicable for all the items sold on “Traderkerala”:
                <br />
                <br />

                    You have maximum 30 days to return an item from the date you received it.  To be eligible for a return, your item must be unused and in the same condition that you received it. Your item must be in original packing. Your item needs to have the receipt or proof of purchase</p>
            <p>
                <h4><B>Category Wise Return/Replacement Period:</B></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="20%">Category </th>
                            <th width="40%">Type of products</th="33.3%">
                            <th width="40%">Return period </th>
                        </tr>
                    </thead>
                   <tbody>
                    <tr>


                        <td>Leather & Others</td>
                        <td>Fashion, Footwear ,Clothing, Accessory, Jewellery</td>
                        <td>Upto 5 days for reimbursement on return
                        & Another 10 days for replacement</td>
                    </tr>
                       <tr>
                           <td>Ethnic Products</td>
                           <td>Traditional products, handicrafts, paintings, Statues &
                           Sculptures & Coir Products</td>
                           <td>Upto 5 days for reimbursement on return
                           & Another 10 days for replacement</td>
                       </tr>
                       <tr>


                           <td>Home & Kitchen </td>
                           <td>Bio degradable products</td>
                           <td>Upto 5 days for reimbursement on return
                           & Another 10 days for replacement</td>

                       </tr>
                       <tr>
                           <td>Books & others</td>
                           <td>Books, Music Instruments</td>
                           <td>Upto 5 days for reimbursement on return
                           & Another 10 days for replacement</td>
                       </tr>
                       <tr>
                           <td>No return category</td>
                           <td>Inner wear ,Socks, Clothing Freebies, Home Care, Music ,Movies, Baby Care Supply, Beauty and Grooming, Gift Cards, Food and Nutrition,  CD/DVD, Oil, Cleaning solutions,  Personal Hygiene, Pet Hygiene/Grooming and Other Consumables, Lingerie (bottom wear),</td>
                           <td>No return</td>
                       </tr>
                       <tr>
                           <td></td>
                           <td></td>
                           <td></td>
                       </tr>
                    </tbody>


                </table>





               <h4><b> Refund Policy :</b></h4>
            <p> The refund process will be initiated only once we have received the product back in our  warehouse and we have completed all quality checks and verifications at our end. The mode of refund may depend on the mode of payment used at the time of placing the order.</p>
            <h4><b>Shipping Policy :</b></h4>
             <p>If a customer returns the product and requests for a refund, the amount refunded would be the Price paid for the product.</p>
             <p>the shipping charge will not be refunded</p>
             <p>If you receive a refund the cost of return shipping will be deducted from refund.</p>

            <h4><b> Defective Product :</b></h4>
            <p>Return applicable if product received is defective and damaged or not as described.</p>
            <p> If you have received a damaged or defective product or not as described, you can raise a replacement request through website or mail support</p>
            <h4><b> Cancellation Policy :</b></h4>
             <p> “Traderkerala” believes in helping its customers as far as possible, and has therefore a liberal</p>
            <p> cancellation policy. Under this policy:</p>

            <p>• Cancellations will be considered only if the request is made within 24 hours of placing an order. However, the cancellation request will not be entertained if the orders have been communicated to the operational team and Operations team has initiated the process of assignment. Cancellation and refund of fees or charges will be strictly governed by the Company Refund Policy of the company informed and declared from time to time.
            <p>• There is no cancellation of orders placed under the Same day delivery category.</p><br>
            <p>• No cancellations are entertained for those products/services that the “Traderkerala” marketing team has obtained on special discounts and offers on occasions like New Year, Pongal, Diwali, Independence Day, Foundation Day etc. These are limited occasion offers and therefore cancellations are not possible.</p>
            <p>• Judiciary only at Thrissur court</p><br>
            <h4><b>Contact us :</b></h4>
            <p><b>
                   www.traderkerala.com <br />
                   Hornbill Ventures (P) Ltd

                </b></p>
            <br />
            <br />
            <br />
        </div>
    </div>*@




<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="para">
        <h2 style="color:#ef5604;text-align:center" id="HeadOne">TraderKerala cancellation, Return & Refund Policy</h2>
        <h3><B>Cancellation Policy</B></h3>
        <p>
            Steps to cancel an order
        </p><p>
        a. Log In to traderkerala Account<br />
        b. Go to My Orders &gt; Cancel Order<br />
        c. Select Reason for Cancellation and click on Cancel Order<br />
    </p>
        <p><b> Note :</b></p>
        <p>
            • If it is Prepaid Order, the amount will be refunded to you, in accordance with our
            Refund Policy
        </p>
        <p>
            • A cancellation request cannot be made after your order is dispatched
        </p>
        <h4><B>ORDER CANCELLATION BY TRADERKERALA</B></h4>
        <p>
            Under some rare situations, traderkerala or any of our sellers can also raise an order cancellation
            request. These situations could be –
        </p>
        <p>
            • Product out of stock with the seller<br />
            • Restrictions on the number of products you can order, as per Terms &amp; Conditions of any
            Offer/Discount<br />
            • Incorrect pricing or description of the product<br />
            • Payment fraud suspicion by our Credit &amp; Fraud Avoidance Department<br />
            • Incorrect or Incomplete Buyer&#39;s Address<br />
            • Non serviceability of Buyer’s address by our courier partners<br />
        </p>
        <p>
            *In case of order cancellation by a seller due to non-availability of the product, we would transfer your
            order to another seller, who can fulfill your requirement. If your order is not fulfilled by our seller after
            your payment has been done, the paid amount will be refunded to you, in accordance with our Refund
            Policy.
        </p>
        <h4><B>Modification of Order</B></h4>
        <p>
            You can modify the following details of your order as long as it has not been ready to dispatch.<br />
            • Shipping Address<br />
            • Phone No.<br />
        </p>
        <p>
            Please login to your traderkerala account: Sign-In -&gt; My Account -&gt; My Orders -&gt; Modify Order.<br />
            Or<br />
            Kindly contact us at  *********************************** for any
            modifications.<br /><br />
            <b> Change of quantity of Order</b><br /><br />
            We recommend you to place a new order for the same product with changed quantity.
        </p>
         <h3><B>Return and Replacement Policy</B></h3>
        <p>

            <b>
                a. General Returns Policy</b>
    <br /><br />
    • In general, an item may be eligible for return within the applicable return window if it
    fulfils one or more of the following conditions:<br />
    • Was delivered in a physically damaged condition<br />
    • Has missing parts or accessories<br />
    • Is different from what was ordered<br />
    • Products marked as &quot;non-returnable&quot; on the product detail page cannot be returned.
    View the full list of non-returnable items.<br />
    All items must be returned in their original condition, with price tags intact, user manual,
    warranty cards, original accessories and in the original manufacturer’s box/packaging as
    delivered to you. Refer to instructions to return items against each category. We may reject the
    return pickup if the items are not returned according to the policy mentioned against each
    category.<br /><br />
            <b>
                b. How to place Return Request</b>
    <br /><br />
    • Log into your traderkerala account<br />
    • Go to My Orders<br />
    • Click on &#39;Return&#39; against the item you wish to return or exchange<br />
    • Fill in the details and raise a return request<br />
    Once you raise a request, you&#39;ll get an email and SMS confirming that your request is being
    processed. Based on the item, your request may be automatically approved or you may be
    contacted for more details. If the request is approved, the item will be picked up after which you
    will get a replacement or refund. You can also track the status of your return request instantly
    from the &#39;My Orders&#39; section of your traderkerala account.<br />
    • You can place a Return request within 3 days of order delivery. However, in case of
    Damaged/Missing Product, the Return request should be filed within 2 days of
    delivery.<br />
    • Return request will be reviewed by traderkerala.<br />
    • If required, request will be shared with the merchant for his/her approval.<br />
    • After approval, pickup of the product will be arranged through our courier partners.<br />
    • If our reverse pickup service is not available on your address, we will ask you to
    dispatch the product. The courier charges will be reimbursed by traderkerala.<br />
    After the product is received, it is verified against your claim and accordingly, Replacement or
    Refund is initiated. Please note that Replacement would depend upon the stock availability with
    the respective merchant.<br /><br />

            <b>
                c. Conditions to reject Return / Replacement Request</b>
    <br /><br />
    • If Products are Altered/ Used<br />
    • If Product is Returned without Original Packaging (price tags, labels &amp; accessories)<br />
    • If Serial Number is tampered<br />
    • For Defective product that is covered under Seller/Manufacturer&#39;s Warranty or
    Reported after 7 days of the Delivery<br />
    • For Damaged/Missing product that is reported after 2 days of the delivery<br />
    • For Products sold under specific promotions, details of which would be mentioned
    in the Product page and Terms &amp; Conditions page<br /><br />

            <b>
                d. Categories which are not eligible for Return / Replacement Request</b>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th width="20%">No </th>
                <th width="20%">Category </th>
                <th width="20%">Reimbursement</th>
                <th width="20%">Replacement </th>
                <th width="20%">Return </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>

                <td>
                    Spices/ Food &amp; Beverage/
                    Ingredient related, Organic,
                    Ayurveda
                </td>
                <td>NA</td>
                <td>
                    3 days
                </td>
                <td>*Applicable</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Beauty &amp; Personal Care</td>
                <td>3 days</td>
                <td> 5 days</td>
                <td>*Applicable</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Ethnic Products,
                    Equipments, Electronics
                    etc, Home &amp; Kitchen
                </td>
                <td>5 days</td>
                <td> 7 days</td>
                <td>*Applicable</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Musical
                    Instruments,Jewellery,
                    Leather Products
                </td>
                <td>5 days</td>
                <td>7 days</td>
                <td>*Applicable</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Clothes/ Textiles, Books</td>
                <td>3 days</td>
                <td>5 days</td>
                <td>*Applicable</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Games &amp; Other Products</td>
                <td>7 days</td>
                <td> 10 days</td>
                <td> *Applicable</td>
            </tr>

        </tbody>

       
    </table>
<p><b>*Conditions Apply</b></p>
   <p>     <b>   • Initiate pick for returns</b><br /><br />

        • Once your request to return an order is approved, a pickup will be initiated. Once return
                is approved for pick up, email will be sent to registered email id for pick up related
                details. Please keep the product ready with all tags &amp; accessories. Kindly ensure proper
                packaging to avoid any damage during transit.<br />
        • Please take care of the following points, while packing your product for Pickup -
    • Product should not be used/altered/ tampered<br />
    • Keep original price tag &amp; packing slip intact<br />
    • Mention Order Number on the box<br />
    • Do not seal the box<br />
    • Mention the Order Number/Delivery Address on the package, before handing over the packet to
    our Pickup executive<br />
    • Keep the Courier Company&#39;s receipt for tracking purposes<br />
        • Please Note - traderkerala shall not be liable for any incidental defect/damage, like
    liquid leakage/mishandling etc.<br /><br />
    • <b>Absence of reverse pick up service</b><br /><br />
    • If our reverse pickup service is not available at your address, we will ask you to dispatch the
    product. Return address will be notified to you in a separate email, along with the packaging
    instructions and required documents.<br />
    • In case of Self-Shipment, traderkerala will reimburse your courier charges (upto Rs. 100) in form
    of Account Credit Point Please take care of the following-<br />
    • Mention the Order number/Delivery Address on the package, before handing it over to the
    Courier Representative<br />
    • Upload the courier receipt in My returns section or attach it on confirmation email received
    after return filing<br />
    • Track your Return Shipment on the Courier Company&#39;s Website<br /><br />
    •<b> Status of Return request</b><br /><br />
        • Check the status of your Return at ‘My Accounts’ -&gt; ‘My Returns’ Section and click on
    particular Return ID to view return details.<br />
        • Every request received at traderkerala is assigned a ticket number, for which an
    acknowledgement mail is sent to your registered email address. Please use your
    registered email ID and phone number for any further communication.<br />
        • After receiving your Return Request, we will update you on the status i.e.
    Acceptance/Rejection of Reverse Pickup, Reshipment &amp; Refund.<br /><br />
        <b>e. Status of reverse Pickup<br /><br /></b>

    You can track the return current status via login to &#39;My Account&#39; &gt; &#39;My Returns&#39;. Click on
    particular return Id to check details.<br /><br />
        <b>
            f. Claim of Return / replacement for products under seller / Manufacturer’s warranty</b>
    <br /><br />
    • You can Claim for product’s warranty by calling or visiting the nearest Service Centre
    of the product&#39;s Brand.<br />
    • For any issues, please contact us at www.traderkerala.com/support. We would take
    your queries forward to the respective seller<br />
    • Some products are non-replaceable or non-returnable. Please check our Terms &amp;
    Conditions page before making a purchase.<br /><br />

        <b>
            g. Courier charges to return the product</b>
    <br /><br />
    You don&#39;t need to pay anything to the courier representative if we arrange the pickup of
    your product. In case your address is not serviceable by our courier service providers, you
    need to self-ship the product to us (address will be emailed to you). Courier charges will be
    reimbursed by us in form of ………..Bucks. The courier charges eligible for reimbursement are
    up to Rs.100. For availing reimbursement of courier charges, upload the courier receipt in
    ‘My Returns’ section or attach it in the confirmation email received after filing the return.<br /><br />
        <b>
            h. Time taken to replace an order</b>
    <br /><br />
    We initiate the replacement or refund within 2 working days of receiving the product at our
    center.<br />
    </p>
    <h3><B>Refund policy</B></h3>
    <p>


        • The refund process will be initiated only once we have received the product back in our
        warehouse and we have completed all quality checks and verifications at our end. The
        mode of refund may depend on the mode of payment used at the time of placing the
        order.<br /><br />
        Shipping Policy :<br /><br />
        • If a customer returns the product and requests for a refund, the amount refunded
        would be the Price paid for the product.<br />
        • The shipping charge will not be refunded<br />
        • If you receive a refund the cost of return shipping will be deducted from refund.<br /><br />
        Defective Product :<br /><br />
        • Return applicable if product received is defective and damaged or not as described.<br />
        • If you have received a damaged or defective product or not as described, you can raise a
        replacement request through website or mail support<br /><br />
        Cancellation Policy :<br /><br />
        • “Traderkerala” believes in helping its customers as far as possible, and has therefore a
        liberal cancellation policy. Under this policy:<br />
        • Cancellations will be considered only if the request is made within 24 hours of placing an
        order. However, the cancellation request will not be entertained if the orders have been
        communicated to the operational team and Operations team has initiated the process
        of assignment. Cancellation and refund of fees or charges will be strictly governed by
        the Company Refund Policy of the company informed and declared from time to time.<br />

        • There is no cancellation of orders placed under the Same day delivery category.<br />
        • No cancellations are entertained for those products/services that the “Traderkerala”
        marketing team has obtained on special discounts and offers on occasions like New
        Year, Pongal, Diwali, Independence Day, Foundation Day etc. These are limited occasion
        offers and therefore cancellations are not possible.<br />
    </p>
    <p>
        Contact us :<br />
        www.traderkerala.<br />
    </p>
</div>
</div>